<!DOCTYPE html>
    <html>
        <head>
            <title>
                PGN
            </title>
        </head>
        <body>
            <h1>
                Password Generator Network
            </h1>

            <p>
                {{ sentence }}
            </p>

            <button onclick="window.location.reload();">
                Generate A Password
            </button> 

            <div class="form-group">
                <form method="POST" action=''>
                    {{ AnimalForm.hidden_tag() }}
                    {{ AnimalForm.word.label }}
                    {{ AnimalForm.word }}

                </form>
                <form action="{{ url_for('animal') }}">
                    {{ AnimalForm.submit }}
                </form>
            </div>

            <div class="form-group">
                <form method="POST" action=''>
                    {{ FruitForm.hidden_tag() }}
                    {{ FruitForm.word.label }}
                    {{ FruitForm.word }}

                </form>
                <form action="{{ url_for('fruit') }}">
                    {{ FruitForm.submit }}
                </form>
            </div>
            
            <div class="form-group">
                <form method="POST" action=''>
                    {{ ColourForm.hidden_tag() }}
                    {{ ColourForm.word.label }}
                    {{ ColourForm.word }}

                </form>
                <form action="{{ url_for('colour') }}">
                    {{ ColourForm.submit }}
                </form>
            </div>

        </body>
    </html>    